TELEGRAM_BOT_TOKEN=8708862445:AAFt1lMGw8s3f75VXkIOCrAsQzLkwZeAZ5w
TEMPLATE_BASE_URL=https://usernamesklkv-prog.github.io/telegram-bot-templates
# On PythonAnywhere this is set automatically; override only if needed:
# TELEGRAM_PROXY_URL=http://proxy.server:3128
